@media (min-width: 1280px) {
  .x .c1-f {
    font-size: 16px
  }

  .x .c1-2c {
    font-size: 21px
  }

  .x .c1-2o {
    font-size: 30px
  }

  .x .c1-2t {
    font-size: 14px
  }

  .x .c1-5r {
    font-size: 32px
  }

  .x .c1-5x {
    width: 1160px
  }

  .x .c1-6j {
    font-size: 22px
  }

  .x .c1-82 {
    font-size: 20px
  }

  .x .c1-a5 {
    font-size: 18px
  }

  .x .c1-d1 {
    font-size: 12px
  }
}