@media (min-width: 768px) {
  .x .c1-d {
    font-size: 16px
  }

  .x .c1-2a {
    font-size: 20px
  }

  .x .c1-2m {
    font-size: 25px
  }

  .x .c1-2r {
    font-size: 14px
  }

  .x .c1-4n {
    margin-top: 0
  }

  .x .c1-4o {
    margin-right: -24px
  }

  .x .c1-4p {
    margin-bottom: -48px
  }

  .x .c1-4q {
    margin-left: -24px
  }

  .x .c1-4w {
    padding-top: 0
  }

  .x .c1-4x {
    padding-right: 24px
  }

  .x .c1-4y {
    padding-bottom: 48px
  }

  .x .c1-4z {
    padding-left: 24px
  }

  .x .c1-5p {
    font-size: 30px
  }

  .x .c1-5v {
    width: 100%
  }

  .x .c1-6g {
    font-size: 22px
  }

  .x .c1-6n {
    margin-bottom: 0
  }

  .x .c1-6r {
    margin-left: 8.333333333333332%
  }

  .x .c1-6s {
    flex-basis: 83.33333333333334%
  }

  .x .c1-6t {
    max-width: 83.33333333333334%
  }

  .x .c1-6u {
    padding-bottom: 0
  }

  .x .c1-8p {
    width: 255px;
  }

  .x .c1-a2 {
    font-size: 18px
  }

  .x .c1-af {
    margin-right: 40px
  }

  .x .c1-ak {
    flex-direction: row
  }

  .x .c1-am {
    margin-top: 4px
  }

  .x .c1-an {
    margin-bottom: 4px
  }

  .x .c1-ao {
    margin-right: 24px
  }

  .x .c1-ap {
    height: 100%
  }

  .x .c1-bb {
    max-width: 30%
  }

  .x .c1-bm {
    margin-left: 16px
  }

  .x .c1-bn {
    margin-right: 16px
  }

  .x .c1-ck {
    width: 400px
  }

  .x .c1-cl {
    max-height: 500px
  }

  .x .c1-cm {
    border-radius: 7px
  }

  .x .c1-cn {
    margin-top: 24px
  }

  .x .c1-co {
    margin-bottom: 24px
  }

  .x .c1-cp {
    margin-left: 24px
  }

  .x .c1-cr {
    max-height: 200px
  }

  .x .c1-cz {
    font-size: 12px
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .x .c1-1l {
    width: 100%
  }

  .x .c1-4a {
    right: 0px
  }

  .x .c1-8r {
    margin-bottom: 24px
  }

  .x .c1-c8 {
    border-top: 0px
  }

  .x .c1-c9 {
    border-right: 0px
  }

  .x .c1-ca {
    border-bottom: 0px
  }

  .x .c1-cb {
    border-left: 0px
  }
}