    @media (min-width: 1536px) {
      .x .c1-g {
        font-size: 18px
      }

      .x .c1-2d {
        font-size: 24px
      }

      .x .c1-2p {
        font-size: 32px
      }

      .x .c1-2u {
        font-size: 16px
      }

      .x .c1-5s {
        font-size: 36px
      }

      .x .c1-5y {
        width: 1280px
      }

      .x .c1-83 {
        font-size: 23px
      }

      .x .c1-a6 {
        font-size: 20px
      }

      .x .c1-d2 {
        font-size: 14px
      }

      .x .c1-8p {
        width: 300px;
      }
    }