    @media (max-width: 767px) {
      .x .c1-l {
        padding-top: 40px
      }

      .x .c1-m {
        padding-bottom: 40px
      }

      .x .c1-1i {
        width: 100%
      }

      .x .c1-1j {
        display: flex
      }

      .x .c1-1k {
        justify-content: center
      }

      .x .c1-71> :nth-child(n) {
        margin-bottom: 24px
      }

      .x .c1-72> :last-child {
        margin-bottom: 0 !important
      }

      .x .c1-8q {
        margin-bottom: 24px
      }

      .x .c1-b4 {
        font-size: 16px
      }

      .x .c1-b9 {
        margin-top: 0px
      }

      .x .c1-ba {
        margin-bottom: 0px
      }

      .x .c1-bz {
        flex-direction: column
      }

      .x .c1-c4 {
        border-top: 0px
      }

      .x .c1-c5 {
        border-right: 0px
      }

      .x .c1-c6 {
        border-bottom: 0px
      }

      .x .c1-c7 {
        border-left: 0px
      }

      .x .c1-8p {
        width: 255px;
      }
    }