@media (min-width: 1280px) {
  .x .c1-f {
    font-size: 16px
  }
}

@media (min-width: 1280px) {
  .x .c1-2c {
    font-size: 21px
  }
}

@media (min-width: 1280px) {
  .x .c1-2o {
    font-size: 30px
  }
}

@media (min-width: 1280px) {
  .x .c1-2t {
    font-size: 14px
  }
}

@media (min-width: 1280px) {
  .x .c1-5j {
    font-size: 32px
  }
}

@media (min-width: 1280px) {
  .x .c1-5p {
    width: 1160px
  }
}

@media (min-width: 1280px) {
  .x .c1-63 {
    font-size: 22px
  }
}

@media (min-width: 1280px) {
  .x .c1-7m {
    font-size: 20px
  }
}

@media (min-width: 1280px) {
  .x .c1-9n {
    font-size: 18px
  }
}

@media (min-width: 1280px) {
  .x .c1-bw {
    font-size: 12px
  }
}