@media (min-width: 1024px) {
  .x .c1-e {
    font-size: 16px
  }
}

@media (min-width: 1024px) {
  .x .c1-y {
    padding-top: 0px
  }
}

@media (min-width: 1024px) {
  .x .c1-z {
    padding-bottom: 0px
  }
}

@media (min-width: 1024px) {
  .x .c1-10 {
    margin-bottom: 0px
  }
}

@media (min-width: 1024px) {
  .x .c1-12 {
    display: flex
  }
}

@media (min-width: 1024px) {
  .x .c1-13 {
    flex-direction: column
  }
}

@media (min-width: 1024px) {
  .x .c1-2b {
    font-size: 20px
  }
}

@media (min-width: 1024px) {
  .x .c1-2n {
    font-size: 25px
  }
}

@media (min-width: 1024px) {
  .x .c1-2s {
    font-size: 14px
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .x .c1-41 {
    right: 0px
  }
}

@media (min-width: 1024px) {
  .x .c1-47 {
    display: none
  }
}

@media (min-width: 1024px) {
  .x .c1-5i {
    font-size: 30px
  }
}

@media (min-width: 1024px) {
  .x .c1-5o {
    width: 984px
  }
}

@media (min-width: 1024px) {
  .x .c1-61 {
    min-width: 300px
  }
}

@media (min-width: 1024px) {
  .x .c1-62 {
    font-size: 22px
  }
}

@media (min-width: 1024px) {
  .x .c1-6l {
    margin-left: 16.666666666666664%
  }
}

@media (min-width: 1024px) {
  .x .c1-6m {
    flex-basis: 66.66666666666666%
  }
}

@media (min-width: 1024px) {
  .x .c1-6n {
    max-width: 66.66666666666666%
  }
}

@media (min-width: 1024px) {
  .x .c1-9c {
    padding-top: 8px
  }
}

@media (min-width: 1024px) {
  .x .c1-9d {
    padding-bottom: 8px
  }
}

@media (min-width: 1024px) {
  .x .c1-9e {
    padding-left: 4px
  }
}

@media (min-width: 1024px) {
  .x .c1-9f {
    padding-right: 4px
  }
}

@media (min-width: 1024px) {
  .x .c1-9l {
    padding-top: 16px
  }
}

@media (min-width: 1024px) {
  .x .c1-9m {
    font-size: 18px
  }
}

@media (min-width: 1024px) {
  .x .c1-ac {
    width: 48px
  }
}

@media (min-width: 1024px) {
  .x .c1-ad {
    height: 48px
  }
}

@media (min-width: 1024px) {
  .x .c1-ae {
    margin-left: 24px
  }
}

@media (min-width: 1024px) {
  .x .c1-af {
    margin-right: 24px
  }
}

@media (min-width: 1024px) {
  .x .c1-ag {
    padding-right: 0px
  }
}

@media (min-width: 1024px) {
  .x .c1-ah {
    padding-left: 0px
  }
}

@media (min-width: 1024px) {
  .x .c1-bv {
    font-size: 12px
  }
}

@media (min-width: 1024px) {
  .x .c1-c3 {
    z-index: 9999
  }
}