@media (min-width: 1536px) {
  .x .c1-g {
    font-size: 18px
  }
}

@media (min-width: 1536px) {
  .x .c1-2d {
    font-size: 24px
  }
}

@media (min-width: 1536px) {
  .x .c1-2p {
    font-size: 32px
  }
}

@media (min-width: 1536px) {
  .x .c1-2u {
    font-size: 16px
  }
}

@media (min-width: 1536px) {
  .x .c1-5k {
    font-size: 36px
  }
}

@media (min-width: 1536px) {
  .x .c1-5q {
    width: 1280px
  }
}

@media (min-width: 1536px) {
  .x .c1-7n {
    font-size: 23px
  }
}

@media (min-width: 1536px) {
  .x .c1-9o {
    font-size: 20px
  }
}

@media (min-width: 1536px) {
  .x .c1-bx {
    font-size: 14px
  }
}